.comment {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.comment .reason {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.comment .reason::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.comment:hover .reason {
  visibility: visible;
}

th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
